
h1 {
  margin-left: 1rem;
}

.profileCard {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  background-color: aliceblue;
  margin: 2rem auto;

  > div {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .imageDiv {
    width: 250px;
  }

  .imageDiv img {
    width: 100%;
    object-fit: contain;
  }

  .profileRow {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 1rem;
  }

  .profileRow:first-child {
    margin-top: 2rem;
  }

  .profileRow div {
    word-break: break-all;
  }
}

.submitBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 1rem;
}

#editBtn,
#logout {
  width: 200px;
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
  }

  .profileCard {
    > div {
      grid-template-columns: 1fr;
    }

    .profileRow {
      grid-template-columns: 1fr;
    }
  }
}
