{% extends "authbase.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}" />
{% endblock %}
{% block content %}
    <h1 class="shopTitle">Shop</h1>
    <div id="bookContainer">
        {% for book in books %}
            <div class="card">
                <img src="{{ book.image_url.url }}" alt="{{book.title}}">
                <h2>{{book.title}}</h2>
                <p><strong>Author:</strong> {{book.author}}</p>
                <p><strong>Pages:</strong> {{book.pages}}</p>
                <p><strong>Language:</strong> {{book.language}}</p>
                <div class="footer">
                    <div class="price" id="price-${index}">${{book.price}}</div>
                    <button class="addToCart btn primaryBtn" id="addToCart-${index}">
                    Add To Cart <i class="fa-solid fa-cart-plus"></i></button>
                    <p class="cartAdded" id="added-${index}" style="display: none;">
                    Added to Cart!</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}