{% extends "authbase.html" %}
{% load static %}
{% block title %}Shop{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}" />
{% endblock %}
{% block content %}
    <h1 class="shopTitle">Shop</h1>
    {% if not user.is_authenticated %}
        <div class="unauthenticated-message">
            You can view the <strong>Price</strong> and <strong>Add to Cart</strong> after you login.
            <a href="{% url 'login' %}?next=/books/"> LogIn </a>
        </div>
    {% endif %}
    <div id="bookContainer">
        {% for book in books %}
            <div class="card">
                <img src="{{ book.image_url.url }}" alt="{{book.title}}">
                <h2>{{book.title}}</h2>
                <p><strong>Author:</strong> {{book.author}}</p>
                <p><strong>Pages:</strong> {{book.pages}}</p>
                <p><strong>Language:</strong> {{book.language}}</p>
                {% if user.is_authenticated %}
                    <div class="footer">
                        <div class="price" id="price-${index}">${{book.price}}</div>
                        <a href="#">
                             <button class="addToCart btn primaryBtn">
                                 Add To Cart <i class="fa-solid fa-cart-plus"></i>
                             </button>
                        </a>
                        <p class="cartAdded" id="added-${index}" style="display: none;">
                        Added to Cart!</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}