{% extends "authbase.html" %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
{% endblock %}
{% block content %}
    <div class="cart">
        <h1>Cart</h1>
        {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
        {% endif %}
        {% if not has_items %}
            <div class="noItems">
                <img src="{% static 'images/empty-box.png' %}" alt="No Items" width="250" height="250"/>
                <p>Your cart is empty!!</p>
                <p>Shop our latest collection by clicking on the button below.</p>
                <a href="{% url 'books' %}"><button class="btn primaryBtn">Browse</button></a>
            </div>
        {% endif %}

        {% if has_items %}
            {% for item in items %}
                <div class="item">
                    <div>
                        <img src="{{ item.book.image_url.url }}" alt="{{item.book.title}}">
                        <div class="itemDetails">
                            <h2>{{ item.book.title }}</h2>
                            <p>{{ item.book.author.name }}</p>
                        </div>
                    </div>
                    <div class="item-price">
                        <a href="{% url 'remove_from_cart' item.id %}" class="remove-item">
                            <button><i class="fa-solid fa-trash"></i></button>
                        </a>
                        <div class="itemQuantity">
                          <a href="{% url 'reduce_quantity_to_cart' item.id %}">
                              <button class="reduceQuantity">-</button>
                          </a>
                          <div>{{ item.quantity }}</div>
                            <a href="{% url 'add_quantity_to_cart' item.id %}">
                                <button class="addQuantity">+</button>
                            </a>
                        </div>
                      <p class="itemPrice">${{ item.get_total_price|floatformat:2 }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="summary">
                <div class="summary-item">
                    <p>Subtotal</p>
                    <p>${{ cart.subtotal }}</p>
                </div>
                <div class="summary-item">
                    <p>Shipping Fee</p>
                    <p>${{ cart.shipping }}</p>
                </div>
            </div>
            <div class="total">
                <p>Total</p>
                <p>CAD ${{ cart.total }}</p>
            </div>
            <button class="orderBtn" id="confirmOrder">Confirm Order</button>
        {% endif %}
    </div>
{% endblock %}