{% extends "authbase.html" %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}
{% block content %}
      <h1>Contact Us</h1>
        {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
        {% endif %}
    <div class="contactImg">
        <img src="{% static 'images/books.jpg' %}" width="150" height="150" alt="books"/>
    </div>
      <form id="contactForm" method="post">
        {% csrf_token %}
        <label for="name">Name</label>
          {{ form.name }}
        {% if form.name.errors %}
            <div class="error">
                {{ form.name.errors }}
            </div>
        {% endif %}

        <label for="email">Email</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="error">
                {{ form.email.errors }}
            </div>
        {% endif %}

        <label for="message">Message</label>
        {{ form.message }}
        {% if form.message.errors %}
            <div class="error">
                {{ form.message.errors }}
            </div>
        {% endif %}

        <div class="contactBtnGroup">
          <button type="submit" class="btn secBtn">Submit</button>
        </div>
      </form>
{% endblock %}