{% extends "authbase.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}
{% block content %}
    <div class="container">
      <div class="profileCard mt-4" id="editDiv">
          <h1>Edit Profile</h1>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="submitBtn">
                <button class="btn secBtn" id="save" type="submit">Save</button>
                <a href="{% url 'profile' %}">
                    <button class="btn tertiaryBtn" id="cancelBtn">Cancel</button>
                </a>
              </div>
            </form>
      </div>
    </div>
{% endblock %}